# === Python / Backend ===
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Environment variables
.env
.env.*

# IDE/editor config files
.ropeproject/
.vscode/
.idea/

# Data files
*.csv
